body {
    background-color: #b4c1ea; 
    font-family: 'Helvetica Neue', Arial, sans-serif; 
    margin: 0;
    padding: 0;
}

.about, .skills, .contact {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.projects {
    display: flex;  /* horizontal alignment */
    flex-wrap: wrap;    /* allows projects to wrap to the next row */
    justify-content: center; /*centers the whole row of projects */
    max-width: 1200px;
    margin: 20px auto;
    align-items: flex-start; /* Aligns boxes to the top edge of the container */
}

.project {
    width: 40%;
    margin: 15px;
    padding: 20px;
    background: #f7f7f7; 
    border: 1px solid #ccc;
    border-radius: 25px; 
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.project img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 4px;
}